$small:768px;
$meddle:992px;
$large:1200px;

html {
  overflow-y: hidden;
  overflow-x: hidden;
  clip: rect(auto, auto, auto, auto);
}
@mixin large() {
  @media all and (min-width: $large) {
    @content;
  }
}
/*平板*/
@mixin meddle() {
  @media all and (min-width:$meddle) and (max-width: $large) {
    @content;
  }
}
/*手機*/
@mixin small() {
  @media all and (max-width: $small) {
    @content;
  }
}


//顏色
$red :rgb(199, 21, 133);
$green :rebeccapurple;
$blue :rgb(72, 209, 204);
$yellow:yellow;
$purple :rebeccapurple;
$ocean-blue:cornflowerblue;
$bg-yellow: transparent;
.red {
  background: $red;
}
.green {
  background: $green;
}
.blue {
  background: $blue;
}
.yellow {
  background: rebeccapurple;
}
.purple {
  background: $purple;
}
.ocean-blue {
  background: $ocean-blue;
}
.text-purple {
  color: lighten($purple,30%);
}
.text-blue {
  color: lighten($ocean-blue,10%);
}
.text-red {
  color: lighten($red,20%);
}
//動畫
@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(2);
    opacity: 0.9;
  }

  50% {
    transform: scale(4);
    opacity: 0.8;
  }

  75% {
    transform: scale(6);
    opacity: 0.7;
  }

  100% {
    transform: scale(8);
    opacity: 0.5;
  }
}


//輔助
.text-center {

  text-align: center;
}
.center {
  margin: 0 auto;
}




//動畫
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}




